<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="ch.durgaprasad012@gmail.com" value="94415645"></parameter>
   <classes>
      <class name="selenium.Selenium5"/>
      <class name=".Perameter"/>
      <class name="selenium.Perameters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
